.display-3{
    text-align: center;
}

.btn {
    margin-top:10px;
}

.main {
    margin: auto;
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {

}